<div id="post-container">
    {{#each posts as |post| }}
    <div class="card my-4">
        <div class="card-header text-dark bg-info">{{post.title}}</div>
        <div class="card-body text-dark bg-light">
            <p class="h6">Posted by {{user.name}} on {{post.createdAt}}</p>
            {{!-- TODO: Write a format_date function in utils --}}
            <p>{{post.body}}</p>
            <button data-action="view" data-post={{post.id}} class="btn btn-primary">View Comments</button>
            <button data-action="add" data-post={{post.id}} class="btn btn-primary">Add Comment</button>
        </div>
    </div>
    {{/each}}
</div>

<script src="./js/comments.js"></script>